:host {
  position: fixed;
  height: 100%;
  width: 50%;
}

.container {
  position: relative;
  height: 100%;
  width: 600px;

  [class^="pezzo"] {
    position: absolute;
    height: 300px;
    opacity: 0;
  }
  img{
    height: 100%;
  }
  .pezzo1 {
    z-index: 1;
    left: 0;
    bottom: calc(50% - 150px);
  }
  .pezzo2 {
    z-index: 2;
    transform: rotate(-90deg);
    right: 0;
    bottom: calc(50% - 150px);
  }
  .pezzo3 {
    z-index: 2;
    transform: rotate(90deg) translateY(-23%);
    left: 0;
    bottom: calc(50% + 75px);
  }
  .pezzo4 {
    z-index: 3;
    right: 0;
    bottom: calc(50% + 75px);
    transform: rotate(180deg) translateX(23%);
  }
}

