<main class="main" scrolljacking>
  <section class="blocco primo-blocco">
    <div class="parte-sinistra">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title class="title">Innovazione Al Tuo Servizio</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>La nostra azienda non sviluppa semplici applicazioni.</p>
          <p>creiamo soluzioni innovative, pensate appositamente</p>
          <p>per soddisfare le esigenze dei nostri clienti in maniera unica.</p>
          <p>Grazie alla nostra competenza, eleviamo ogni concetto,</p>
          <p>realizzando un prodotto che unisce design e funzionalità.</p>
          <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions>
          <div class="actions">
            <button mat-raised-button
                    color="primary">Non aspettare: richiedi consulenza gratis!</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="parte-destra">
      <app-puzzle></app-puzzle>
    </div>
  </section>
  <section class="blocco secondo-blocco">
    <div class="parte-sinistra">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title class="title">Dominio delle Applicazioni Ibride</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Le applicazioni ibride rappresentano il nostro punto di forza:</p>
          <p>uniamo il meglio del web e del nativo per offrirti soluzioni versatili e performanti.</p>
          <p>La nostra maestria nel codice e nelle piattaforme di sviluppo consente</p>
          <p>di raggiungere tutti i dispositivi e sistemi operativi con un unico codice sorgente,</p>
          <p>ottimizzando tempi e risorse. Esperienze utente fluide, accesso completo alle funzionalità</p>
          <p>del dispositivo e un'ottima scalabilità: con le nostre app ibride, il futuro è multi-piattaforma.</p>
          <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions>
          <div class="actions">
            <button mat-raised-button
                    color="primary">Esplora le potenzialità delle app ibride</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="parte-destra">

    </div>
  </section>
  <section class="blocco terzo-blocco">
    <div class="parte-sinistra">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title class="title">Assistenza Continua</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Non ti lasciamo mai solo. Offriamo supporto continuo</p>
          <p>dall'idea iniziale al lancio dell'applicazione e oltre.</p>
          <p>La nostra assistenza post-lancio garantisce che ogni aggiornamento</p>
          <p>e ogni miglioramento siano implementati con la massima efficienza,</p>
          <p>perché il tuo successo è anche il nostro.</p>
          <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions>
          <div class="actions">
            <button mat-raised-button
                    color="primary">Contattaci per supporto</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="parte-destra">

    </div>
  </section>
  <section class="blocco quarto-blocco">
    D
  </section>
</main>
