<main class="main">
  <section class="blocco primo-blocco">
    <div class="parte-sinistra">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title class="title">Innovazione Al Tuo Servizio</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>La nostra azienda non sviluppa semplici applicazioni.</p>
            <p>creiamo soluzioni innovative, pensate appositamente</p>
            <p>per soddisfare le esigenze dei nostri clienti in maniera unica.</p>
            <p>Grazie alla nostra competenza, eleviamo ogni concetto,</p>
            <p>realizzando un prodotto che unisce design e funzionalità.</p>
            <mat-divider></mat-divider>
        </mat-card-content>            
        <mat-card-actions>
          <div class="actions">
            <button mat-raised-button
                    color="primary">Non aspettare: richiedi consulenza gratis!</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="parte-destra">
        <img src="assets/imgs/lampadina.png">
    </div>
  </section>
  <section class="blocco secondo-blocco">
    B
  </section>
</main>
